<footer>
    <div class="sobre">
        <a id="footer-logo" href="/home">
            <img src="logo.png" alt="">
        </a>
        <p>Discover the latest in premium electronics with cofting edge technology and design.</p>
        <div class="redes-sociais social">
            <ul>
                <li><a href="#" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a></li>
                <li> <a href="#" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a></li>
                <li><a href="#" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a></li>
            </ul>
        </div>

    </div>

    <nav id="menu-icones">
        <a href="">Politica de Privacidade</a>
    </nav>
</footer>

