footer {
    width: 100%;
    background-color: var(--cor-fundo-principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
    padding: 2vh 4vw;
    border-top: 1px solid var(--cor-detalhes);
    box-sizing: border-box;
    flex-wrap: wrap;
}

#menu-icones,
#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}

#footer-logo {
    height: 10vh;
    width: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
}

#footer-logo h3 {
    font-size: 2vh;
    font-weight: 500;
    width: fit-content;
}

#footer-logo p {
    font-size: 2vh;
    font-weight: 300;
    width: fit-content;

}

a {
    font: var(--fonte-principal);
    color: var(--cor-texto-principal);
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;

}

footer ul li {
    cursor: pointer;
}

footer .redes-sociais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#logoRedes {
    width: 2rem;
}

p {
    color: var(--cor-texto-descricao);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 28px;
    gap: 2vw;
}

.social a {
    color: var(--cor-texto-secundario);
    text-decoration: none;
    margin: 10px;
}

.social:hover a {
    opacity: 0.3;
    transition: 0.5s;
}

.social:hover a:hover {
    opacity: 1;
    transition: 0.5s;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
        padding: 1rem 0.5rem;
    }

    #footer-logo {
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }

    .sobre {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-items: center;
        
    }

    footer ul {
        justify-content: center;
        padding: 0;
    }

    #menu-icones {
        width: 100%;
        justify-content: center;
    }

    #logoRedes {
        margin: 0 auto;
        display: block;
    }
}


