.card-produto-container {
    border-radius: 8px;
    width: 280px;
    min-width: 280px;
    position: relative;
    background-color: var(--cor-branco);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra leve */
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.2s;
    flex-shrink: 0;
}

.card-produto-container:hover {
    transform: translateY(-5px);
    /* Efeito de levitar ao passar o mouse */
}

.card-conteudo {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 394px;
}

.produto-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 4px;
}

.nome-preco h3 {
    font-size: 1.1rem;
    margin: 5px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.estrelas {
    display: block;
    color: #f39c12;
}



.btn-primary {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    margin-top: 325px;
    justify-content: center;
    margin-left: 20%;
}