<div class="page-container">
    <div class="content-box">
        <h1>Entre em Contato</h1>
        <p>Tem alguma dúvida ou sugestão? Envie uma mensagem para nós.</p>

        <form (ngSubmit)="contatoForm.valid && enviarMensagem()" #contatoForm="ngForm">
            <div class="form-group">
                <input type="text" [(ngModel)]="mensagem.nome" name="nome" placeholder="Seu nome completo" required>
            </div>
            <div class="form-group">
                <input type="email" [(ngModel)]="mensagem.email" name="email" placeholder="seu@email.com" required
                    email>
            </div>
            <div class="form-group">
                <textarea [(ngModel)]="mensagem.texto" name="texto" placeholder="Como podemos ajudar?"
                    required></textarea>
            </div>
            <button type="submit" class="btn-enviar" [disabled]="contatoForm.invalid">Enviar Mensagem</button>
        </form>
    </div>
</div>