.page-container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: var(--fundo-principal);
    min-height: 90vh;
}

.content-box {
    background: var(--cor-branco);
    width: 100%;
    max-width: 600px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

h1 {
    color: var(--cor-destaque);
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var( --cor-texto-descricao);
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box; 
}

input:focus, textarea:focus {
    border-color: var(--cor-destaque);
    outline: none;
}

.btn-enviar {
    width: 100%;
    padding: 15px;
    background-color: var(--cor-destaque);
    color: var(--cor-branco);
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-enviar:hover {
    background-color: #001a33;
}