 .auth-container {
    max-width: 400px;
    width: 90%;
    margin: 50px auto;
    padding: 30px;
    background: var(--cor-branco);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
 }

 input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
 }

 button {
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
 }

