.dashboard-container {
    padding: 2rem 5vw;
    background-color: var(--cor-fundo-principal);
    min-height: 90vh;
}

h1 {
    color: var(--cor-texto-principal);
    margin-bottom: 2rem;
}

.metrics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    background: var(--cor-fundo-principal);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.metric h3 {
    color: var(--cor-detalhes);
    font-size: 1rem;
    margin-bottom: 10px;
}

.metric .value {
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-texto-secundario);
    margin: 0;
}

.value.highlight {
    font-size: 1.2rem;
    color: #ae3727;
}

.chart-container {
    background: var(--cor-branco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    max-width: 800px;
    margin: 0 auto;
}

.header-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 15px;
}

.header-dashboard h1 {
    margin-bottom: 0;
}

.filter-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(250, 0, 0, 0);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.filter-box label {
    font-weight: 600;
    color: var(--cor-texto-secundario);
    font-size: 0.9rem;
}

.filter-box select {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid var(--cor-detalhes);
    background-color: #ffffff00;
    font-size: 0.95rem;
    color: var(--cor-texto-secundario);
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
}

.filter-box select:hover {
    border-color: #bbb;
}

.filter-box select:focus {
    border-color: var(--cor-destaque);
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.1);
}


.chart-container {
    background-color: var(--cor-fundo-principal);
    border-radius: 16px;
    padding: 25px;
    margin: 30px auto;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.05);

    max-width: 1000px;
    width: 90%;

    position: relative;
    height: 500px;
}

@media (max-width: 768px) {
    .chart-container {
        padding: 15px;
        height: 350px;
        width: 100%;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    }

    .header-dashboard {
        flex-direction: row;
        flex-wrap: wrap;
    }



}

@media (max-width: 600px) {
    .header-dashboard {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-box {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }

    .metric .value {
        font-size: 1.5rem;
    }

    .chart-container canvas {
        max-width: 100%;
    }
}