<app-header></app-header>
<div class="auth-container">
    <h2>Crie sua Conta</h2>
    <form (ngSubmit)="registrar()">
        <input type="text" [(ngModel)]="dados.nome" name="nome" placeholder="Nome Completo" required>
        <input type="email" [(ngModel)]="dados.email" name="email" placeholder="E-mail" required>
        <input type="password" [(ngModel)]="dados.senha" name="senha" placeholder="Senha" required>
        <div class="termos-container">
            <label class="checkbox-label">
                <input 
                    type="checkbox" 
                    [(ngModel)]="aceitouTermos" 
                    name="termos"
                    class="checkbox-termos">
                <span>
                    Eu concordo com os 
                    <a href="/termos" target="_blank" class="link-termos">Termos de Serviço</a> 
                    e 
                    <a href="/privacidade" target="_blank" class="link-termos">Política de Privacidade</a>
                </span>
            </label>
        </div>
       <button type="submit" [disabled]="!aceitouTermos">Cadastrar</button>
    </form>
    <p>Já tem conta? <a routerLink="/login">Faça Login</a></p>
</div>
<app-footer></app-footer>