@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}


:root {
  /* --- PALETA DE CORES --- */
  --cor-fundo-principal: #f4f6f9;
  --cor-texto-principal:  #324e67;
  --cor-destaque: #324e67;
  /* Azul para botões e links */
  --cor-texto-secundario: #324e67;
  --cor-texto-descricao: #444;
  --cor-detalhes: #86868B;
  /* Cinza para textos secundários */
  --cor-branco: #fff;

  /* --- TIPOGRAFIA --- */
  --fonte-principal: 'Inter', sans-serif;
}

/* --- APLICAÇÃO GLOBAL --- */
body {
  margin: 0;
  padding: 0;
  background-color: var(--cor-fundo-principal);
  color: var(--cor-texto-principal);
  font-family: var(--fonte-principal);
}

/*Botão Padrão*/
button.btn-primary {
  background-color: var(--cor-destaque);
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

button.btn-primary:hover {
  box-shadow: 0 0 8px rgba(50, 78, 103, 0.4);
  border-color: var(--cor-destaque);
}